<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.psi_stud.arturas.ggdb">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainWindow"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.default" />
            </intent-filter>
        </activity>
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginWindow"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".UserProfileWindow"
            android:label="@string/title_activity_user_profile" />
        <activity
            android:name=".RegisterWindow"
            android:label="@string/title_activity_register" />
        <activity
            android:name=".GameWindow"
            android:label="@string/title_activity_game" />
        <activity
            android:name=".SearchWindow"
            android:label="@string/title_activity_search" />
        <activity
            android:name=".NewsWindow"
            android:label="@string/title_activity_news" />
        <activity
            android:name=".NewsContentWindow"
            android:label="@string/title_activity_news_content" />
        <activity
            android:name=".GameListWindow"
            android:label="@string/title_activity_game_list" />
        <activity
            android:name=".DynamicSearchWindow"
            android:label="@string/title_activity_dynamic_search"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MessageWindow"></activity>
    </application>

</manifest>